@charset "UTF-8";
@font-face {
  font-family: "Futura Book";
  src: url("../font/futura/FuturaBookC.woff") format("woff"), url("../font/futura/FuturaBookC.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura Demi";
  src: url("../font/futura/FuturaDemiC.woff") format("woff"), url("../font/futura/FuturaDemiC.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.button {
  padding: 11px 24px;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: "Futura Book", sans-serif;
  font-size: 0.93rem;
}
.button:hover {
  cursor: pointer;
}
.button--primary {
  background-color: #E3B873;
  color: #ffffff;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  transition: box-shadow 0.3s;
}
.button--primary:hover {
  box-shadow: none;
}
.button--outline {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

.title {
  font-family: Yeseva One;
  font-weight: normal;
  font-size: 3.3rem;
}
.title--primary {
  color: #E3B873;
}

.section__title {
  font-family: Yeseva One;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}
.section__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}
.section__image::before {
  box-sizing: border-box;
  content: "";
  width: 32px;
  height: 2px;
  background-color: #E3B873;
  margin-right: 10px;
}
.section__image::after {
  box-sizing: border-box;
  content: "";
  width: 32px;
  height: 2px;
  background-color: #E3B873;
  margin-left: 10px;
}

html {
  font-size: 14px;
}

body {
  font-family: "Futura Book", sans-serif;
  font-size: 1rem;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.roww {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.col-30 {
  flex-basis: 30%;
}

.container {
  width: 85%;
  margin: auto;
}

.mlBtn {
  margin-left: 45px;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: #131313;
  padding: 25px 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 125px;
}

.phone {
  color: #E3B873;
  font-family: "Futura Book", sans-serif;
}
.phoneIcon {
  height: 1rem;
  margin-bottom: -0.2rem;
  margin-right: 0.3rem;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  position: relative;
  margin-top: 85px;
  background: #131313 url("./../img/ceramics.jpg") no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  height: 90vh;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 19, 19, 0.7);
}
.hero__content {
  position: relative;
}
.hero__title {
  margin-top: 0;
  margin-bottom: 1rem;
}
.hero__description {
  font-size: 1.57rem;
  max-width: 500px;
  line-height: 131%;
  margin: 0;
  margin-bottom: 3rem;
}
.hero__ceramics {
  display: flex;
  justify-content: space-around;
}
.hero__image {
  background: url("./../img/heroImagee.jpg") no-repeat center/cover;
  height: 420px;
  width: 400px;
  border: 3px solid #E3B873;
  border-radius: 10px;
}
.hero__button {
  text-decoration: none;
  font-size: 1rem;
  padding: 15px 35px;
}
.hero__button--1 {
  margin-right: 30px;
}

.wares {
  background: url("./../img/backgroundLight.jpg") no-repeat center/cover;
  padding-bottom: 3rem;
}
.wares__logo {
  width: 100px;
}
.wares__image {
  max-width: 100%;
  max-height: 100%;
}
.wares__video {
  position: relative;
  display: flex;
  margin: auto;
  max-width: 45rem;
  min-height: 25rem;
  background: #131313 url("./../img/videoMask.jpg") center no-repeat;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
}
.wares__video::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.video__play {
  margin: auto;
  position: relative;
  cursor: pointer;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5rem;
}
.card__text {
  position: relative;
  max-width: 210px;
  background-color: #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  margin: 0 auto;
  margin-top: -3rem;
  padding: 1.7rem 2.1rem;
}
.card__description {
  font-size: 15px;
  color: #959595;
}
.card__image {
  max-width: 350px;
}
.card__pricetag {
  position: absolute;
  left: 0;
  bottom: -1.79rem;
  font-size: 18px;
  font-family: "Yeseva One", cursive;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #E3B873;
  color: #ffffff;
  padding: 1.214rem 2.6rem;
  border: none;
}

.footer {
  background-color: #131313;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 99;
  background-color: #131313;
  padding: 35px 0;
}

.newyear {
  position: relative;
  background: #131313 url("./../img/newyear.jpg") no-repeat center/cover;
  color: #ffffff;
  height: 90vh;
  display: flex;
  justify-content: center;
}
.newyear::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 19, 19, 0.7);
}
.newyear__timer {
  position: relative;
  display: flex;
  flex-direction: column;
}
.newyear__title {
  text-align: center;
  font-size: 3rem;
}

.timer {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.timer__wrapper {
  width: 400px;
  display: flex;
  justify-content: space-around;
}
.timer__block {
  height: 100px;
  width: 80px;
  color: #131313;
  background-color: #ffffff;
  border: 3px solid #E3B873;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}
.timer__gross {
  font-size: 4rem;
  font-weight: 600;
}

.modal {
  opacity: 0;
  visibility: hidden;
  z-index: 199;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 19, 19, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal--visible {
  opacity: 1;
  visibility: visible;
}
.modal__logo {
  width: 100px;
}
.modal__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.modal__image::before {
  box-sizing: border-box;
  content: "";
  width: 32px;
  height: 2px;
  background-color: #E3B873;
  margin-right: 10px;
}
.modal__image::after {
  box-sizing: border-box;
  content: "";
  width: 32px;
  height: 2px;
  background-color: #E3B873;
  margin-left: 10px;
}
.modal__close {
  position: absolute;
  right: 0;
  top: 0;
  width: 28px;
  height: 28px;
  background: transparent url("./../img/closee.png") no-repeat center;
  background-size: cover;
  border: none;
  margin: 12px;
  cursor: pointer;
}
.modal__contacts {
  position: relative;
  max-width: 36.36rem;
  background: #131313 url("./../img/lines.svg") no-repeat center;
  background-size: cover;
  padding: 1.5rem 2.25rem;
  color: #ffffff;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 2rem;
}
.contact__name {
  font-size: 1.35rem;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 1rem;
}
.contact__text {
  font-size: 1.35rem;
  text-decoration: none;
  color: #E3B873;
}
.contact__text--phone {
  font-size: 1.27rem;
}

.instagramIcon {
  height: 1.4rem;
  margin-bottom: -0.3rem;
  margin-right: 0.3rem;
}

@media screen and (max-width: 1080px) {
  .hero__image {
    display: none;
  }
  .hero__text {
    flex-basis: 100%;
  }

  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 575px) {
  .container {
    padding: 0;
  }

  .header {
    max-width: 100%;
  }

  .title {
    font-size: 3rem;
  }

  .header__button {
    margin-left: 30px;
  }
}
@media screen and (max-width: 500px) {
  .logo {
    width: 100px;
  }

  .header {
    height: 36px;
  }
}
@media screen and (max-width: 450px) {
  .timer__block {
    height: 90px;
    width: 70px;
  }
}
@media screen and (max-width: 430px) {
  .header__phone {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .card__image {
    width: 330px;
  }
}
@media screen and (max-width: 370px) {
  .card__image {
    width: 310px;
  }

  .timer__block {
    height: 80px;
    width: 55px;
    font-size: 1.2rem;
    font-weight: 400;
    border: 2px solid #E3B873;
  }
  .timer__gross {
    font-size: 3.4rem;
  }
}
@media screen and (max-width: 370px) {
  .modal__contacts {
    padding: 20px 30px;
  }
}
@media screen and (max-width: 350px) {
  .title {
    font-size: 2.5rem;
  }

  .contact__name {
    font-size: 16px;
  }

  .contact__text {
    font-size: 14px;
  }

  .logo {
    width: 90px;
  }

  .hero__text {
    display: flex;
    flex-direction: column;
  }
  .hero__button {
    margin: 0;
    text-align: center;
  }
  .hero__button--1 {
    display: none;
  }

  .card__pricetag {
    font-size: 16px;
    padding: 14px 25px;
  }
}
@media screen and (max-width: 340px) {
  .card__image {
    width: 290px;
  }
}
@media screen and (max-width: 325px) {
  .modal__contacts {
    padding: 20px;
  }
}