@media screen and (max-width: 1080px)
    .hero
        &__image
            display: none
        &__text
            flex-basis: 100%
    html
        font-size: 12px

@media screen and (max-width: 575px)
    .container
        padding: 0
    .header
        max-width: 100%
    .title
        font-size: 3rem
    .header__button
        margin-left: 30px
    .wares
        &__video
            min-height: 20rem

@media screen and (max-width: 500px)
    .logo 
        width: 100px
    .header
        height: 36px

@media screen and (max-width: 450px)
    .timer__block
        height: 90px
        width: 70px

@media screen and (max-width: 430px)
    .header__phone
        display: none
    .wares
        &__video
            min-height: 17.5rem

@media screen and (max-width: 400px)
    .card__image
        width: 330px

@media screen and (max-width: 370px)
    .card__image
        width: 310px
    .timer
        &__block
            height: 80px
            width: 55px
            font-size: 1.2rem
            font-weight: 400
            border: 2px solid $primary
        &__gross
            font-size: 3.4rem
    .wares
        &__video
            min-height: 16rem
    .modal__contacts
        padding: 20px 30px

@media screen and (max-width: 350px)
    .title
        font-size: 2.5rem
    .contact__name
        font-size: 16px   
    .contact__text
        font-size: 14px
    .logo
        width: 90px
    .hero
        &__text
            display: flex
            flex-direction: column
        &__button
            margin: 0
            text-align: center
            &--1
                display: none
    .card__pricetag
        font-size: 16px
        padding: 14px 25px
    .wares
        &__video
            min-height: 15rem

@media screen and (max-width: 340px)
    .card__image
        width: 290px
    .wares
        &__video
            min-height: 14.5rem

@media screen and (max-width: 325px)
    .modal__contacts
        padding: 20px
    .wares
        &__video
            min-height: 14rem