.header
    position: fixed
    left: 0
    top: 0
    width: 100%
    z-index: 99
    background-color: $dark
    padding: 25px 0
.menu
    display: flex
    align-items: center
    justify-content: space-between
.logo
    max-width: 125px
.phone
    color: $primary
    font-family: "Futura Book", sans-serif
    margin-right: 45px
    &Icon
        height: 1rem
        margin-bottom: -0.2rem
        margin-right: 0.3rem
.contacts
    display: flex
    align-items: center
    justify-content: center
   