.wares
    background: url("./../../img/backgroundLight.jpg") no-repeat center / cover
    &__logo
        width: 100px
    &__image
        max-width: 100%
        max-height: 100%

.card
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    margin-bottom: 5rem
    &__text
        position: relative
        max-width: 210px
        background-color: #fff
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
        margin: 0 auto
        margin-top: -3rem
        padding: 1.7rem 2.1rem
    &__description
        font-size: 15px
        color: $secondary
    &__image
        max-width: 350px
    &__pricetag
        position: absolute
        left: 0
        bottom: -1.79rem
        font-size: 18px
        font-family: 'Yeseva One', cursive
        font-weight: normal
        text-transform: uppercase
        background-color: $primary
        color: $light
        padding: 1.214rem 2.6rem
        border: none
    
    